body{
    margin:20px;
}
.contact-widget{
    position:fixed;
    bottom:20px;
    right: 20px;
    width: 180px;
    padding: 15px;
    background: lightblue;
    color: white;
    border-radius: 10px;
    border: 2px solid deepskyblue;
    z-index:2;
    text-align:left;
}

.contact-widget a{
    color:lightgoldenrodyellow;
    text-decoration:none;
    font-weight:bold;
}

.contact-widget:hover{
    background:blue;
}