body {
margin: 0;
padding: 0;
height: 100vh;
position: relative;
background: #fafafa;
}


.box {
width: 200px;
height: 200px;
color: white;
font-size: 24px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
}


.box1 {
background: red;
top: 50px;
left: 50px;
z-index: 1;
}


.box2 {
background: blue;
top: 120px;
left: 120px;
z-index: 2;
}


.box3 {
background: green;
top: 190px;
left: 190px;
z-index: 3;
}