body{
    font-family: Arial-sans-serif;
    background:lightgrey;
    text-align:center;
}
.title
{
    margin-top: 20px;
}

.product-box{
    display:inline-block;
    width:250px;
    background:white;
    padding: 15px;
    border:2px solid grey;
    margin: 15px;
    text-align:center;
    border-radius: 8px;
}

.product-box img{
    width: 120px;
    height: auto;
}

.product-box:hover{
    outline:3px solid mediumblue;
    outline-offset: 5px;
}

.buy-btn{
    display: inline-block;
    margin-top: 10px;
    padding:8px 15px;
    background:lightblue;
    color: white;
    border-radius: 5px;
}

.buy-btn:hover{
    background:blue
}